$header-font: "Courgette", cursive;
$text-font: "Montserrat", sans-serif;
$text-color: #37322d;
$light-grey: #7c776a;
$bg-color: #fefbf3;
$border-color: #ded9c4;

@mixin img-size($width, $height) {
  height: $height;
  width: $width;
}

@mixin border-radius($var) {
  border-radius: $var;
}

@mixin border($num, $type, $color) {
  border: $num $type $color;
}

@mixin display($type, $dir, $gap: 0) {
  display: $type;
  flex-direction: $dir;
  gap: $gap;
}
