@import "variables";

.about-me {
  padding: 7%;
  text-align: center;
  background-color: $border-color;

  .profile {
    text-align: left;
    width: fit-content;
    margin: auto;

    span {
      font-weight: bold;
    }
  }
}
