@import "variables";

body {
  font-family: $text-font;
  padding: 0;
  margin: 0;
}

#root {
  margin: 0;
  height: 100vh;

  ul {
    margin: 0;
  }

  .home-div {
    width: 100%;
    border: 1px solid black;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
