@import "variables";

.home-div {
  background-color: $bg-color;

  nav {
    position: sticky;
    top: 0;
    z-index: 1;
    @include display(flex, row);
    padding-top: 30px;
    background-color: inherit;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
      }

      &:first-child {
        padding: 1%;
        justify-content: center;
        @include display(flex, row, 60px);

        img {
          @include img-size(30px, 30px);
          @include border-radius(50%);
          @include border(1px, solid, $border-color);
        }
      }
    }
  }

  header {
    font-family: $header-font;

    h1 {
      color: $text-color;
    }

    h2 {
      color: $light-grey;
    }
  }
}
