@import "./variables";

#header {
  font-family: $header-font;
  padding: 15%;
  background-image: url("../images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: $bg-color;
  margin: 0;

  & > * {
    width: fit-content;
    letter-spacing: 1px;
  }

  h1 {
    color: $text-color;
    padding-left: 2rem;
  }

  h2 {
    color: $light-grey;
    padding-left: 10rem;
  }
}

@media (max-width: 700px) {
  #header {
    padding: 25% 1%;

    & > * {
      margin: 0;
    }
    h1 {
      font-size: 2.5em;
      margin-bottom: 15px;
    }

    h2 {
      padding-left: 100px;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 400px) {
  #header {
    h1 {
      font-size: 2em;
      padding: 0 0 0 0.8em;
    }
  }
}

footer p {
  font-size: 12px;
  position: relative;
  bottom: 0;
  padding: 2% 0% 1%;
  background-color: $border-color;
  font-family: $text-font;
  margin: 0;
}
