@import "../variables";

#contact {
  text-align: center;
  padding: 7%;
  @include display(flex, column, 30px);

  .contact-text,
  h3 {
    font-family: $text-font;
    color: $text-color;
  }

  .contact-icon {
    @include display(flex, row, auto);
    width: 60%;
    margin: auto;

    .links {
      a {
        margin: auto;
      }
    }

    .whatsapp {
      @include img-size(100px, 40px);
    }

    .upwork {
      @include img-size(80px, 25px);
    }

    .email {
      @include img-size(90px, 25px);
    }
  }
}

@media (max-width: 700px) {
  #contact {
    padding-top: 5em;
    .contact-icon {
      width: 100%;
    }
  }
}
