@import "../variables";

#services {
  padding: 5%;
  background: $bg-color;
  text-align: center;
  font-family: $text-font;

  h3 {
    padding: 2em;
  }

  #services-offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    div {
      padding: 2em;
      max-width: 100%;
      margin: auto;
      background: inherit;
      font-family: $text-font;
      color: $text-color;

      .card-text-div {
        padding: 1em;

        .service-title {
          font-size: 1.2em;
          padding: 2%;
          font-weight: 600;
        }
      }
    }
    img {
      width: 80%;
      margin: auto;
    }
  }
}

.promises {
  margin-top: 3em;

  .promise-div {
    background: transparent;
    margin: auto;
    padding: 1em;
    width: 400px;
    animation: slide-in-elliptic-top-fwd 1.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @keyframes slide-in-elliptic-top-fwd {
      0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
      }
    }

    img {
      width: 90%;
      height: 100%;
      margin: auto;
      filter: drop-shadow(2px 2px 1px gray);
      border: 1px solid gray;
      border-radius: 5px;
    }

    .promise-title {
      font-weight: 700;
      margin-bottom: 1em;
      color: $text-color;
    }
  }
}

@media (max-width: 650px) {
  .promises {
    .promise-div {
      width: 100%;
      padding-top: 2.5rem;

      img {
        width: 80%;
      }
    }
  }
}
