@import "../variables";

#navbar {
  @include display(flex, row);
  background-color: $bg-color;
  font-family: $text-font;
  padding: 1.5rem 1rem 0 1rem;
  position: sticky;
  top: 0;
  z-index: 2;

  ul {
    li {
      list-style-type: none;
      cursor: pointer;
    }

    &:first-child {
      justify-content: center;
      @include display(flex, row, 10px);

      img {
        @include img-size(30px, 30px);
        @include border-radius(50%);
        @include border(1px, solid, $border-color);
      }
    }
  }
  .nav-links {
    @include display(flex, row, 25px);
    padding-right: 1.5em;

    a {
      color: #37322d;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #7c776a;
      }
    }
  }

  .add-animation {
    -webkit-animation: puff-in-top 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: puff-in-top 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;

    @-webkit-keyframes puff-in-top {
      0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes puff-in-top {
      0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 700px) {
  #navbar {
    @include display(flex, column, 15px);
    z-index: 1;
    padding: 10px 0 0 0;

    ul:nth-child(2) {
      max-width: 100%;
      @include display(flex, row, 30px);
      font-size: 15px;
    }
  }
}
